{% extends 'base.html' %} {% block content %}
<header>
    <h1>प्रश्नोत्तरी</h1>
</header>

<div class="container">
    <form method="post" class="buttons">
        <input type="text" placeholder="Enter your name" name="name" value="{{name}}" />

        <div class="join-room">
            <input type="text" class="room-id-input" placeholder="Enter Room ID" name="code" value="{{code}}">
            <button class="join-button" name="join">Join</button>
        </div>
        <button class="create-room-button" name="create">Create New Quiz Room</button>
        {% if error %}
        <ul>
            <li>{{error}}</li>
        </ul>
        {% endif %}
    </form>
</div>
{% endblock %}