{% extends 'base.html' %}
{% block head %} 
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
	var socket = io.connect("http://127.0.0.1:5000" + '/quiz_room_namespace');

	socket.once('connect', function(){
		socket.emit('joined', {'msg': 'I have joined'});
	});
	socket.on('joined_ack', function(msg) 
	{
		num_str = '';
		num_str = num_str + msg.msg;
		log_div = document.getElementById('log');
		log_div.append(num_str);
		log_div.append("     ")
	});
	socket.on('left_room', function(msg) 
	{
		num_str = '';
		num_str = num_str + msg.name + msg.message;
		log_div = document.getElementById('log');
		log_div.append(num_str);
		log_div.append("     ")
	});
	function start_quiz_event()
	{
		start_quiz_btn = document.getElementById("start_quiz_btn");
		start_quiz_btn.style.display = "none";
		socket.emit('start_quiz');
	}
	socket.on('before_start_timer', function(msg_json)
	{
		log2 = document.getElementById('before_start_timer_div');
		log2.innerHTML = "";
		log2.append("The quiz starts in: "  + msg_json.time + " seconds");
	});
</script>
{% endblock %}
{% block content %}
<h1>Welcome to quiz room: {{ session['disp_room_name'] }}</h1>
<h3>Share this code with others to join the room: {{ session['room_code'] }}</h3>
<h3 id="disp"></h3>
<div id="log">
</div> <!-- /#log -->
{% if 'creator' == session['user_role'] %}
	<button id="start_quiz_btn" onclick="start_quiz_event()">Start Quiz</button>
{% endif %}
<div id="before_start_timer_div">
</div> <!-- /#before_start_timer_div-->
{% endblock %}